.btnCustom {
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-padding: 5 5 5 5;
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-border-width: 1;
}

.btnCustom:hover {
    -fx-background-color: #add8e6; /* Contoh warna highlight biru muda saat hover */
    -fx-border-color: #000000;
}
